.desktop-contacto {
  background-color: #bab7dc;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop-contacto .div {
  background-color: #bab7dc;
  height: 1024px;
  position: relative;
  width: 1440px;
}

.desktop-contacto .overlap {
  height: 226px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.desktop-contacto .windows-desktop {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.desktop-contacto .toolbar-browser {
  align-self: stretch;
  background-color: #dee1e6;
  height: 42px;
  position: relative;
  width: 100%;
}

.desktop-contacto .tabs {
  align-items: center;
  display: inline-flex;
  left: 4px;
  position: absolute;
  top: 8px;
}

.desktop-contacto .end-tab {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  justify-content: center;
  position: relative;
}

.desktop-contacto .tab-active {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: center;
  position: relative;
}

.desktop-contacto .img-2 {
  height: 8px;
  position: relative;
  width: 6px;
}

.desktop-contacto .content {
  align-items: center;
  background-color: #ffffff;
  border-radius: 8px 8px 0px 0px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  overflow: hidden;
  padding: 8px 4px 8px 8px;
  position: relative;
}

.desktop-contacto .favicon {
  height: 16px;
  object-fit: cover;
  position: relative;
  width: 16px;
}

.desktop-contacto .tab-name {
  color: transparent;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.desktop-contacto .text-wrapper {
  color: #494c4f;
  letter-spacing: 0.02px;
}

.desktop-contacto .span {
  color: #ffffff;
  letter-spacing: 0.02px;
}

.desktop-contacto .close {
  height: 18px;
  position: relative;
  width: 18px;
}

.desktop-contacto .img-3 {
  height: 20px;
  position: relative;
  width: 20px;
}

.desktop-contacto .right {
  align-items: flex-start;
  display: inline-flex;
  gap: 20px;
  left: 1288px;
  position: absolute;
  top: 11px;
}

.desktop-contacto .frame {
  height: 12px;
  left: 4px;
  position: relative;
  top: 4px;
  width: 12px;
}

.desktop-contacto .overlap-group {
  height: 12px;
  position: relative;
}

.desktop-contacto .rectangle {
  border: 1.2px solid;
  border-color: #b2b4b8;
  height: 10px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 10px;
}

.desktop-contacto .rectangle-2 {
  height: 9px;
  left: 2px;
  position: absolute;
  top: 0;
  width: 10px;
}

.desktop-contacto .toolbar-URL-controls {
  align-self: stretch;
  background-color: #ffffff;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #dadce0;
  height: 38px;
  position: relative;
  width: 100%;
}

.desktop-contacto .right-locked-icons {
  align-items: center;
  display: inline-flex;
  gap: 13px;
  left: 1410px;
  position: absolute;
  top: 11px;
}

.desktop-contacto .design-component-instance-node {
  height: 16px !important;
  width: 16px !important;
}

.desktop-contacto .icon-more {
  height: 12px !important;
  left: 7px !important;
  top: 2px !important;
  width: 3px !important;
}

.desktop-contacto .URL {
  align-items: center;
  background-color: #f1f3f4;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  left: 134px;
  padding: 6px 10px;
  position: absolute;
  top: 5px;
  width: 1263px;
}

.desktop-contacto .left {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.desktop-contacto .icon-secure {
  height: 12px !important;
  width: 12px !important;
}

.desktop-contacto .icon-arrow-secure-instance {
  height: 10px !important;
  left: 2px !important;
  top: 0 !important;
  width: 8px !important;
}

.desktop-contacto .text {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

.desktop-contacto .text-wrapper-2 {
  color: #202124;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.25px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.desktop-contacto .text-wrapper-3 {
  color: #696a6c;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.25px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.desktop-contacto .icon-favorite {
  height: 11px !important;
  left: 2px !important;
  top: 2px !important;
  width: 12px !important;
}

.desktop-contacto .left-locked-icons {
  align-items: flex-start;
  display: inline-flex;
  gap: 15px;
  left: 12px;
  position: absolute;
  top: 11px;
}

.desktop-contacto .img-4 {
  height: 16px;
  position: relative;
  width: 16px;
}

.desktop-contacto .container-3 {
  height: 12px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 12px;
}

.desktop-contacto .RAFIAA-BELLE-LOGOS {
  height: 157px;
  left: 100px;
  position: absolute;
  top: 69px;
  width: 285px;
}

.desktop-contacto .line {
  height: 4px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 202px;
  width: 1440px;
}

.desktop-contacto .group {
  height: 49px;
  left: 1316px;
  position: absolute;
  top: 122px;
  width: 72px;
}

.desktop-contacto .line-2 {
  height: 5px;
  left: 0;
  position: absolute;
  top: -5px;
  width: 72px;
}

.desktop-contacto .line-3 {
  height: 5px;
  left: 0;
  position: absolute;
  top: 19px;
  width: 72px;
}

.desktop-contacto .line-4 {
  height: 5px;
  left: 0;
  position: absolute;
  top: 44px;
  width: 72px;
}

.desktop-contacto .overlap-2 {
  height: 96px;
  left: 955px;
  position: absolute;
  top: 98px;
  width: 201px;
}

.desktop-contacto .rectangle-3 {
  height: 58px;
  left: 0;
  position: absolute;
  top: 19px;
  width: 201px;
}

.desktop-contacto .text-wrapper-4 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 25px;
  font-weight: 400;
  height: 96px;
  left: 12px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 177px;
}

.desktop-contacto .p {
  color: #ffffff;
  font-family: "Raleway-SemiBoldItalic", Helvetica;
  font-size: 40px;
  font-style: italic;
  font-weight: 600;
  left: 471px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 260px;
  width: 507px;
}

.desktop-contacto .overlap-wrapper {
  height: 45px;
  left: 597px;
  position: absolute;
  top: 792px;
  width: 269px;
}

.desktop-contacto .div-wrapper {
  background-color: #ffffff;
  border-radius: 28px;
  height: 45px;
  position: relative;
  width: 267px;
}

.desktop-contacto .text-wrapper-5 {
  color: #4b2358;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 25px;
  font-weight: 600;
  height: 44px;
  left: 10px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1px;
  width: 246px;
}

.desktop-contacto .text-wrapper-6 {
  color: #ffffff;
  font-family: "Raleway-SemiBold", Helvetica;
  font-size: 40px;
  font-weight: 600;
  left: 331px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 315px;
  width: 788px;
}

.desktop-contacto .text-wrapper-7 {
  color: #000000;
  font-family: "Raleway-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 591px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 403px;
  width: 302px;
}

.desktop-contacto .text-wrapper-8 {
  color: #000000;
  font-family: "Raleway-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 591px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 480px;
  width: 302px;
}

.desktop-contacto .text-wrapper-9 {
  color: #000000;
  font-family: "Raleway-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 591px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 552px;
  width: 302px;
}

.desktop-contacto .text-wrapper-10 {
  color: #000000;
  font-family: "Raleway-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 591px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 634px;
  width: 302px;
}

.desktop-contacto .rectangle-4 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
  height: 39px;
  left: 591px;
  position: absolute;
  top: 426px;
  width: 281px;
}

.desktop-contacto .rectangle-5 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
  height: 39px;
  left: 590px;
  position: absolute;
  top: 575px;
  width: 281px;
}

.desktop-contacto .rectangle-6 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
  height: 111px;
  left: 590px;
  position: absolute;
  top: 658px;
  width: 281px;
}

.desktop-contacto .rectangle-7 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
  height: 39px;
  left: 590px;
  position: absolute;
  top: 502px;
  width: 281px;
}
